.sidebar {
    width: 200px;
    background-color: white;
    box-sizing: border-box;
    height: 100vh;
    border-right: 1px solid #E6EFF5;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }

.title {
    display: block;
    font-weight: 900;
    color: #343C6A;
    font-size: 18px;
    margin-top: 24px;
    text-align: center;
    text-decoration: none;
}

.list {
    margin-top: 40px;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}